
.bgContainer1{
    background-color: black;
    background-position: center;
    height: 100%
 

}





.choiceBoxes{
    display: flex;
    justify-content: center;
}

.linkBox{
    text-decoration: none;
}

@keyframes fadeIn {
    0%{
        opacity:0;
    }

    100%{
        opacity:1;
    }
}

.check-wrapper{
    display:block;
    justify-content: center;
    animation: fadeIn 2s ease-in;
    animation-delay: 2s;
    opacity: 0;
    animation-fill-mode: forwards;
}

.signIn-wrapper {
    display: flex;
    justify-content: center;
}


.alignBoxWrapper{
    display: block;
}