
.leaflet-container{
    height: 500px;
    width: 900px;
    justify-content:center ;
}
.map-wrapper{
    display: flex;
    justify-content: center;
}

.warning{
    color: white;
    font-size: x-large;
    justify-content: center;
    display: flex;
}

.uploadJobButton{
    height:25px;
    width: 70px;
    font-size: x-small;
    background-color: green;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
    cursor: pointer;
}

.popup-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.bgContainer1{
    height: 100vh;
}