.signInbutton-wrapper{

    display: flex;
    justify-content: center;
    padding-bottom: 100px;
    
}

.signInButton{
    background-color: blue;
    color: white;
    height: 60px;
    border-radius: 20px;
    width: 300px;
    display: inline;
    margin-left: 5px;
    cursor: pointer;
    font-size: large;
}

.buttontext{
    color: white;
    display: flex;
    justify-content: center;
}
